
<div>

BRUNCH

BURGER LAFIEDABEEF,CARAMELIZEDONIONS,BACON,FRIES14

ADD-ons$$$FRIEDEGGORCHEESE

PULLEDCHICKENSANDLEMONTHYME,FRESHSPINACH10

SHORTRIBSAND BRAISEDBEEF,CARAMELIZEDONION12

PORTABELLACAPRESEMUSHROOM,HOMEMADEMOZZARELLAMELTEDON

FRESHBREADW/PESTO,TOMATO10

STEAKANDEGGSANDWICHOVERMEDIUMEGG,CHEESEMELTEDONFRESHBREAD12

MARKETSALATWINTERGREENS,CARROT,FENNEL,GOATCHEESE,PUMPKINSEED,

SHALLOTVINEGRETTE10

STEAKSALATHANGARSTEAK,SPINACH,TOMATOES,CRISPYSHALLOTS,DRIEDCHERRIES,

WALNUTS,GORGONZOLA14

COBBLEHILLCRISTOPOACHEDEGG,HOLLANDAISE,SPECK,LINGONBERRIES,

MELTEDGRUYERE,BATTEREDBRIOCHE11

EGGSANYSTYLEW/BACON&HASH-BROWNS10

BISCUITS,SAUSAGE&GRAVYFRESHBISCUITS,PORKSAUSAGE&COUNTRYGRAVY10

GERMANAPPLEPANCAKESTRADITIONALPANCAKEWITHFRESHAPPLES,CINNAMON,

ORANGEMARMALADE,LINGONBERRIES11

SHORT-RIBHASH&EGGS1

</div>