{% extends 'layout.html' %} {% block body %}
<div class="wrapper">
    <div class="indexbg">
        <div>
            <!-- sidebar -->
            <div >
            <div class="bringtofront">
                <div>
                    <img src="../../stylesheets/firstbuschlogo.gif" z-index="1">
                </div>
                <!--took out column col-sm-3-->
                <div class="logo">320 Court Street, Brooklyn
                    <br> NY &nbsp 11231
                    <p class="frontpg">tel 718.235.0725 </p>
                </div>
                </div>
            </div>
            <!-- /sidebar -->
            <!-- main -->
            <div class="column col-sm-9" ng-controller="MainController">
                <div class="padding">
                    <div class="full col-sm-9">
                        <!-- content -->
                        <div class="col-sm-12" id="featured">
                            <div role="group" class="centerbtns">
                                <button type="button" class="btn" ng-click="this.uno()" ng-show="!this.first">BRUNCH</button>
                                <button type="button" class="btn btn-default" ng-click="this.dos()" ng-show="!this.second">SMALL PLATES</button>
                                <button type="button" class="btn btn-default" ng-show="!this.third" ng-click="this.tres()">PIZZA</button>
                                <button type="button" class="btn btn-link" ng-show="!this.fourth" ng-click="this.quatre()">DINNER</button>
                                <button type="button" class="btn" ng-click="this.look()" ng-show="!this.pics">PICS</button>
                            </div>
                            <one ng-show="this.first"></one>
                            <two ng-show="this.second"></two>
                            <three ng-show="this.third"></three>
                            <four ng-show="this.fourth"></four>
                            <slides ng-show="this.pics"></slides>
                            <div class="page-header text-muted">
                            </div>
                        </div>
                        <hr>
                    </div>
                    <!-- /col-9 -->
                </div>
                <!-- /padding -->
            </div>
            <!-- /main -->
        </div>
    </div>
</div>
{% endblock %}
