/* move special fonts to HTML head for better performance */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');
/* custom template */

html,
body {
    height: 100%;
    font-family: 'Abril Fatface';
    font-size: 25px;
    font-weight: 700;
    background-color: transparent;
}

a {
    color: #222222;
    text-decoration: none;
}

.aboutpage {
    font-family: 'Abril Fatface';
    margin-bottom: 50%;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 0px;
    font-size: 18px;
}

.wrapper,
.row {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

.wrapper:before,
.wrapper:after,
.column:before,
.column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    width: 95%;
    overflow: auto;
    *zoom: 1;
    position: relative;
    display: inline-block;

}

/*.column {
    padding: 20px

}*/

/*.padding {
    padding: %;


}*/

.box {
    bottom: 0;
    /* increase for footer use */
    
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-color: #E3E5DE;
    display: table-cell;
}

.divider {
    margin-top: 32px;
}

#main {
    background-color: transparent;
    position: relative;
    background-image: url("../../stylesheets/buschfaded.png");
    background-repeat: no-repeat;
    background-position: center;
}

#main .img-circle {
    margin-top: 18px;
    height: 70px;
    width: 70px;
}

.bringtofront {
    position: relative;
    width: 300px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    top: 100px;
    margin-bottom: 5%;
    display: inline-block;
    overflow: auto;
}

.selected {
    color: #cccccc;
}

#sidebar,
#sidebar a {
    color: #2b271e;
    background-color: transparent;
    text-align: center;
    height: 80%;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

#sidebar a.logo {
    padding: 3px;
    color: #2b271e;
    height: 90%;
    width: 100%;
    margin: 15px;
}

@media (max-width: 768px) {
    #sidebar,
    #sidebar a.logo {
        text-align: center;
        margin: 0 auto;
        font-size: 16px;
        height: 80%;
    }
}

.frontpg {
    font-size: 20px;
    
}

@media(max-width: 768px) {
    .frontpg {
        font-size: 12px;
    }
}
/* bootstrap overrides */

h1,
h2,
h3 {
    font-weight: 800;
    font-family: 'Abril Fatface';
}

.jumbotron {
    background-color: transparent;
}

.label-default {
    background-color: #dddddd;
}

.page-header {
    margin-top: 55px;
    padding-top: 9px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.col-sm-9.full {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
}

small.text-muted {
    font-family: courier, courier-new, monospace;
}

.centerit {
    text-align: center;
    opacity: 0.1;
    z-index: 2;
    position: relative;
}

.centerbtns {
    text-align: center;
    border: 1px double #DBDAD7;
    position: relative;
    overflow: auto;

}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-link {
    font-weight: normal;
    color: #337ab7;
    border-radius: 0;
}

.btn-lg,
.btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn {
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border: none;
    font-family: "Abril Fatface";
    font-weight: 700;
    color: #2b271e;
    font-size: 20px;
    padding: 8px 20px 10px 20px;
    text-decoration: none;
    outline: none;
}

.btn:hover {
    text-decoration: none;
    cursor: url("./../pics/beermini.png"), auto;
}

.menufood {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 1px;
}

.menudesc {
    margin-top: 1px;
    font-weight: 100;
    font-size: 10px;
    margin-bottom: 0px;
}

.menuprice {
    margin-top: 1px;
    font-size: 11px;
    font-weight: 300;
}

.menuoutline {
    text-align: center;
    line-height: 50%;
}

.menutitle {
    padding-top: 10px;
}

.nav {
    bottom: -4px;
    display: block;
    height: 48px;
    left: 0;
    margin: 0 auto;
    padding: 1em 0 0.8em;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 5;
}

.nav li {
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 0 4px;
    position: relative;
    width: 50px;
}

.nav li.active {
    border: 2px solid #FFFFFF;
}

.nav li img {
    width: 100%;
}

.slider {
    border: 2px solid #AAAAAA;
    border-radius: 2px;
    margin-right: 0 auto;
    margin-left: 0 auto;
    margin-top: 3%;
    width: 800px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

.slide.ng-hide-add {
    opacity: 1;
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 1s linear all;
    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;
    position: absolute;
    /*width: 700px;
    margin-right: 500px;
    margin-left: auto;*/
}

.slide.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    position: absolute;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.slide.ng-hide-remove {
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 1s linear all;
    opacity: 0;
    position: absolute;
    vertical-align: middle;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/*// this is starting slide*/

.slide,
.slide.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    text-align: center;
    position: absolute;
    vertical-align: middle;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*margin-right: 25%;
    margin-left: auto;*/
}

.container {
    width: 700px;
    height: 400px;
    position: relative;
    margin: 0 auto;
}

.indexbg {
    background-image: url("./../pics/indexbgedit2cropped.gif");
    z-index: -1 !important;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
}

.resizetocontainer {
    max-width: 700px;
    max-height: 400px;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .container {
        width: 350px;
        height: 200px;
    }
    .resizetocontainer {
        max-width: 350px;
        max-height: 200px;
    }
    .nav {
        opacity: 0;
    }
    .aboutpage {
        font-size: 15px;
        margin-right: 5%;
        margin-left: 5%;
    }
    .column {
        width: 100%;
    }
    .padding {
        padding: 0% !important;
        width: 100%;

    }

    .frontpg {
        font-size: 12px;
    }

    .bringtofront {
        display: block;
        margin: 0 auto;
        min-height: 450px;
    }

    .btn {
        font-size: 15px;
    }
}

@media (max-width: 350px) {
    .container {
        width: 280px;
        height: 200px;
        padding: 0px;
    }
    .resizetocontainer {
        max-width: 280px;
        max-height: 200px;
    }
    .nav {
        opacity: 0;
    }
    .aboutpage {
        font-size: 15px;
        margin-right: 5%;
        margin-left: 5%;
    }
    .column {
        width: 100%;
    }
    .padding {
        padding: 0% !important;
        width: 100%;
    }

    .frontpg {
        font-size: 15px;
        padding-bottom: 5px;
    }

    .bringtofront {
        display: block;
        margin: 0 auto;
         min-height: 450px;
    }

    .btn {
        font-size: 12px;
    }
}
